/*Css Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Header */
.h1{
    color: red;
    font-weight: bold;
    line-height: 1.5;
    font-family: 'Inspiration', cursive;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
.h1 .bellino{
    color: black;
    font-family: 'Inspiration', cursive;
}
.nav .nav-item{
    padding: 20px;
}
.nav .nav-item .link{
    font-size: 3.5vh;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.nav .nav-item .link:hover{
    color:#EF4430;
}
.logo-over{
    height: 15vh;
}

/* Main-content  */
#main-content{
    margin-top: 3%;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    position: relative;
    background-size: cover;   
}
#main-content .background{
    position: absolute;
    opacity: 0.4;
    width: 100%;
}

.slogan{
    display: flex;
    justify-content: space-around;
    position: relative;
    
}
.slogan img{
    height: 80vh;
    width: 50%;
    object-fit: cover;
    outline: none;
}
.slogan .more h2{
    padding: 50px;
    font-size: 15vh;
}
.slogan .welcome-message{
    font-size: 8vh;
    font-family: 'Inspiration', cursive;
}
.slogan .welcome-message strong{
    color: #EF4430;
    

}
.btn{
    background-color: #fff;
    padding: 10px;
    font-weight: bold;
    border-radius: 25px;
    width: 35%;
    text-align: center;
    margin-left: 2%;
    
    
}
.btn:hover{
    /* color: #fff; */
    /* background: linear-gradient(45deg, red, black); */
    background-color: black;
    color: #EF4430;

}
.enjoy{
    color: rgb(255, 0, 0);
    
}
#types, #types2{
    position: relative;

}
#types img{
    width: 90%;
    object-fit: cover;
    border-radius: 8px;
    height: 80%;
}
#types2 img{
    width: 90%;
    object-fit: cover;
    border-radius: 8px;
    height: 70%;
}
#choose{
    font-size: 3vh;
    font-weight: bold;
    line-height: 1.8;
}
#types .col-md-3 .h5,
#types2 .col-md-3 .h5{
    text-align: center;
    font-size: 3.0vh;
    font-weight: bold;
    font-style: italic;
}

/* Footer */
footer{
    background-color: black;
}
#footer h2 {
    font-size: 5vh;
    text-align: center;
    color: white;
}
#footer h2 em{
    color: #EF4430;
}
footer .icons{
    color: #EF4430;
    text-align: center;
    padding: 20px;
    

}
.icons .icon{
    padding: 20px;
    font-size: 3.5vh;
}
form{
    background-image: url('../IMAGES/pizza-bg.jpg');
    background-size: cover;
    object-fit: cover;
    background-position: center;
    text-align: center;
}
form h2{
    color: #fff;
    font-weight: bold;
    font-size: 4vh;
}
form input, select {
    border-radius: 5px;
    border: 1px solid white;
    background: transparent;
    color: #fff;
    width: 50%;
}
::placeholder{
    color: white;
    font-style: italic;
}
form input[text]{
    color: #fff;
}
form label{
    color: rgb(240, 80, 48);
    font-weight: bold;
}
form label:hover{
    color: #fff;
}
form  select option{
    color: #000;
}
#submit, 
#close{
    background-color: #fff;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
    width: 25%;
    text-align: center;
    margin-left: 2%;
    outline: none;
    border: none;
    margin-bottom: 2%;

}
#submit:hover, 
#close:hover{
    background-color: rgb(232, 152, 44);
    color: #fff;
}