/*Css Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Header */
.h1{
    color: red;
    font-weight: bold;
    line-height: 1.5;
    font-family: 'Inspiration', cursive;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}
.h1 .bellino{
    color: black;
    font-family: 'Inspiration', cursive;
}
.nav .nav-item{
    padding: 20px;
}
.nav .nav-item .link{
    font-size: 3.5vh;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.nav .nav-item .link:hover{
    color:#EF4430;
}

/* Main-content  */
.slogan{
    display: flex;
    justify-content: space-around;
}
.slogan img{
    height: 80vh;
    width: 50%;
    object-fit: cover;
    outline: none;
    /* border-radius: 50%; */
    box-shadow: 2 5.8px 5px 2px rgba(0, 0, 0, 0.05);
}
.slogan .welcome-message{
    font-size: 8vh;
    font-family: 'Inspiration', cursive;
}
.slogan .welcome-message strong{
    color: #EF4430;
    

}
